.login{
   font-family: "Playfair Display", serif;
   overflow: hidden;
}

.logoreg{
    width: 20%;
}
.container{
    width: 100%;
}
.forgot{
    
    color: black !important;
}
.textForg{
    font-size: 15px;
    text-align: end;
    color: black !important;
}
.textForg:hover{
    text-decoration: underline;
    cursor: pointer !important;

}
.login input{
    font-size: 20px;
    font-weight: 200;
}
.check-gender{
    cursor: pointer;
}
a,Link{
	text-decoration: none;
    color: #92dff0 !important;
    font-weight: 900 !important;
}
.btnprimary{
   background-color:  #92dff0;
   color: white;
   font-weight: 900 !important;
   font-size: 20px;
}
.btnprimary:hover{
    background-color:#92dff090;
    color: white;
    font-weight: 900 !important;
 }
 @media (min-width:767px) and (max-width:1023px){
    .login input,.textForg{
        font-size:25px;
    }
    .btnprimary{
        font-size: 35px;
    }
    .login{
        margin-top: 20%;
    }


 }