.expla{
    font-family: "Playfair Display", serif;
}
.logo{
    width: 25%;
  }
  .img{
    width: 100%;
  }
  .ecg{
    font-weight: 600;
    color:#212529d6;
  }
  .welcome{
    background-color: #92dff0;
  }