.expla {
  font-family: "Playfair Display", serif;
  background-color: #F9F3FE !important;
  padding-bottom: 2%;
}
.logo {
  width: 30%;
}
.img {
  width: 100%;
}
.navitem a,
.navitem button,
.navlinkstate {
  color: rgba(0, 0, 0, 0.737) !important;
  text-decoration: none;
  top: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}
.navitem .navlinkstate {
  color: #92dff0 !important;
}


.navitem a:hover {
  color: #92dff0 !important ;
}
.containerNav {
  width: 85%;
  /* margin-bottom: 2%; */
}

.welcome{
  padding-top: 3%;
  padding-bottom: 5%;
  width: 75%;
  margin: auto;
}
.welcome h1{
  font-size: 45px;
  text-align: center;
  font-weight: 900;
}
.welcome p{
  font-size: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.carouselcontainer {
  width: 70%;
  margin: auto;
  margin-bottom: 10%;
}
.inspiration span{
  font-weight: 600;
  font-size: 20px;
}
.inspiration h2{
  font-weight: 800;
  font-size: 40px;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.162) !important;
}
.carousel .slide img {
  height: 400px;
}


.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler-icon {
  color: #ffffff;
}
/* media query */
@media (min-width: 767px) and (max-width: 1023px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .welcome{
    width: 90%;
    margin: auto;
  }
  .navbar {
    flex-wrap: unset;
  }
  .containerexp {
    width: 100%;
    justify-content: space-around;
  }
  .containerNav {
    width: 100%;
  }
  .navitem a,
  .navitem button,
  .navlinkstate {
    font-size: 25px;
  }
  .carouselcontainer {
    width: 90%;
    margin: auto;
  }
  .title {
    font-size: 30px;
    font-weight: 900;
  }
  .carousel .slide img {
    width: 100%;
    height: 40vh;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 50%;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .navbar {
    flex-wrap: unset;
  }
  .containerexp ,.welcome{
    width: 100%;
    justify-content: space-around;
  }
  .containerNav {
    width: 100%;
    /* margin-bottom: 2%; */
  }

  .title {
    font-size: 10px;
    font-weight: 900;
  }
  .welcome{
    width: 90%;
    margin: auto;
  }
  .welcome h1{
    font-size: 20px;
  }
  .welcome p{
    font-size: 10px;
  }
  .carouselcontainer img {
    width: 100%;
    height: auto;
  }
  .carouselcontainer {
    width: 90%;
    margin: auto;
  }
  .carousel .slide img {
    height: 200px;
  }
  .inspiration span{
    font-size: 10px;
  }
  .inspiration h2{
    font-size: 20px;
  }
}
