.expla{
    font-family: "Playfair Display", serif;
    /* background-color: #e4edf2cf; */
}
.logo{
    width: 30%;
  }
  .img{
    width: 100%;
  }
  
  .navitem a,  .navitem button,.navlinkstate{
    color: rgba(0, 0, 0, 0.737)!important;
    text-decoration: none;
    top: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .navitem .navlinkstate{
    color: #92dff0 !important; 
  }

  .navitem a:hover{
    color: #92dff0 !important ;
  }
  .containerNav{
    width: 85%;
    /* margin-bottom: 2%; */
  }

  .carouselcontainer {
  width: 70%;
    margin: auto;
  }
  
  .carousel.carousel-slider .control-arrow:hover{
    background-color:rgba(0, 0, 0, 0.162) !important;
  }
  .carousel .slide img{
width: 100px;
height: 400px;
  }
