.forget{
   font-family: "Playfair Display", serif;
   overflow: hidden;
}
.logo{
    width: auto;
}
.container{
    width: 100%;
}
.reg input{
    font-size: 20px;
    font-weight: 200;
}
.check-gender{
    cursor: pointer;
}
/* a,Link{
	text-decoration: none;
    color: #cd3030 !important;
    font-weight: 900 !important;
} */
.btnprimary{
   background-color:  #cd3030;
   color: white;
   font-weight: 900 !important;
   font-size: 20px;
}
.btnprimary:hover{
    background-color:#cd303064;
    color: white;
    font-weight: 900 !important;
 }