 .upload{
  font-family: "Playfair Display", serif;

 }
 .filebtn {
    width: 330px;
    height: 150px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #92dff0b8;
    background-color: #fff;
    border: 1.5px dashed #92dff0b8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filebtn:hover {
    color: #92dff0b8;
    background-color: #fff;
  }
  
  .filebtn span {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #92dff0b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #f1efff;
  }
  
  .filecard {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    background-color: #fff;
    border: 1px solid rgba(117, 96, 255, 0.281);
    border-radius: 6px;
    padding: 8px 15px;
  }
  
  .fileinfo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .fileinfo h6 {
    flex: 1;
    font-size: 13px;
    font-weight: 400;
  }
  
  .progressbg {
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.076);
    border-radius: 8px;
    margin-top: 8px;
  }
  
  .progress {
    width: 0%;
    height: 5px;
    background-color: #92dff0b8;
    border-radius: 8px;
    transition: width 0.5s ease;
  }
  
  .icon {
    font-size: 30px;
    color: #92dff0b8;
  }
  
  .closeicon {
    font-size: 18px;
    cursor: pointer;
  }
  
  .fileinfo button,
  .checkcircle {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #92dff0b8;
    background-color: #f1efff;
    border: none;
    border-radius: 30px;
  }
  .container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    width: 25%;
  }
  .img{
    width: 100%;
  }
  .ecg{
    font-weight: 600;
    color:#212529d6;
  }
  
  .uploadbtn {
    width: 330px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #92dff0b8;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
  } 