 .upload{
  font-family: "Playfair Display", serif;
  background-color:#e4edf2cf;
 height: 100%;
padding-bottom: 10%;

 }
 .conatinerup{
  width: 90%;
  margin: auto;
}
 .containerNav{
  width: 85%;
  margin-bottom: 2%;
}
.progressbg {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.076);
  border-radius: 8px;
  margin-top: 8px;
}

.progress {
  width: 0%;
  height: 15px;
  background-color: #92dff0;
  border-radius: 8px;
  transition: width 0.5s ease;
}
 .filebtn {
    width: 100%;
    height: 80vh;
    font-size: 20px;
    font-weight: 800;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #92dff0;
    background-color: #fff;
    border: 1.5px dashed #92dff0b8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filebtn:hover {
    color: #92dff0b8;
    background-color: #fff;
  }
  
  .filebtn span {
    width: 50px;
    height: 50px;
    font-size: 75px;
    color: #92dff0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
  }
  
  .filecard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    background-color: #fff;
    border: 1px dashed #92dff090;
    border-radius: 6px;
    padding: 8px 15px;
  }

  .resbtn{
    background-color:#92dff0b8 !important ;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .customswalpopup {
    margin: 20px !important; /* Adjust the margin as needed */
  }
  .fileinfo{
    display: flex;
    justify-content: space-around;
  }
  .fileinfo button {
    font-size: 25px;
    color: #92dff0b8;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin-bottom: 450px !important;
  }
.image{
  width: 100%;

}
  .container {
    width: 65%;
    margin: auto;
  }
  .logo{
    width: 30%;
  }
  .img{
    width: 100%;
  }

  .blk{
    color: rgba(0, 0, 0, 0.737)!important;
  }
   
 .navlink,.navitem button{
    color: rgba(0, 0, 0, 0.737)!important;
    text-decoration: none;
    top: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navlinkstate{
    color:  #92dff0 !important; 
    text-transform: uppercase;
  }
  .navlink:hover{
    color:  #92dff0 !important;
  }

/* media query */
@media (min-width:767px) and (max-width:1023px) {
  .upload{
    padding-bottom: 60%;

  }
  .container {
    width: 90%;
    margin: auto;
  }
  .conatinerup{
    width: 100%;
    justify-content: space-around;
  }
  .containerNav{
    width: 100%;
    margin: auto;
  }
  .navlink,.navitem button, .filecard,.resbtn,.navlinkstate, .filebtn  {
    font-size: 25px;
  }
  .filebtn {
    margin-top: 5%;
    height: 60vh;
  }
}
