 .upload{
  font-family: "Playfair Display", serif;
  background-color:#e4edf2cf;
  padding-bottom:4%;

 }
 .containerNav{
  width: 85%;
  margin-bottom: 2%;
}
.progressbg {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.076);
  border-radius: 8px;
  margin-top: 8px;
}

.progress {
  width: 0%;
  height: 15px;
  background-color: #92dff0;
  border-radius: 8px;
  transition: width 0.5s ease;
}
 .filebtn {
    width: 800px;
    height: 500px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #92dff0;
    background-color: #fff;
    border: 1.5px dashed #92dff0b8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filebtn:hover {
    color: #92dff0b8;
    background-color: #fff;
  }
  
  .filebtn span {
    width: 50px;
    height: 50px;
    font-size: 75px;
    color: #92dff0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
  }
  
  .filecard {
    width: 800px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    background-color: #fff;
    border: 1px dashed #92dff090;
    border-radius: 6px;
    padding: 8px 15px;
  }
  .resbtn{
    background-color:#92dff0b8 !important ;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
  }
  .fileinfo{
    display: flex;
    justify-content: space-around;
  }
  .fileinfo button {
    font-size: 25px;
    color: #92dff0b8;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin-bottom: 450px !important;
  }
.image{
  width: 100%;

}
  .container {
    width: 65%;
    margin: auto;
  }
  .logo{
    width: 30%;
  }
  .img{
    width: 100%;
  }

  .navitem button{
    text-decoration: none;
    color: white !important;
    padding:10px 10px !important;
    background-color:#92dff0;
    margin-right: 10px;
    top: 10px;
    font-weight: 600;
    border-radius: 6px;
  }
  .navitem button:hover{
    background-color:#92dff090;
    color: white !important ;
    border: 1px solid #92dff0 !important;

  }
  .blk{
    color: rgba(0, 0, 0, 0.737)!important;
  }
  .navitem a,.navlink{
    color: rgba(0, 0, 0, 0.737)!important;
    text-decoration: none;
    padding:10px 15px;
    margin-right: 10px;
    top: 10px;
    font-weight: 900;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #92dff0 !important;
  }
  .navitem a:hover{
    background-color:#92dff090;
    color: white !important ;
    border-radius: 6px;
  }