.secnavbar {
  padding: 10px 0;
  width: 50%;
  margin: auto;
  transition: all 0.3s;
  background-color:#d397f8a8 ;
}

.secnavbar.sticky {
  position: fixed;
  width: 50%; /* Change this width as needed */
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
text-align: center;
  z-index: 1000;
  background-color:#d397f8be !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.secnavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}


.secnavbar ul li {
  margin: 0 15px;
}

.secnavbar ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white !important;
}

.secnavbar ul li a:hover {
  color: rgba(0, 0, 0, 0.655) !important;
}
/* media query */
@media (min-width:767px) and (max-width:1023px) {
  .secnavbar.sticky,.secnavbar{
    width: 80%;
  }
  .secnavbar ul li a{
    font-size: 20px;
  }
}
@media (max-width:767px) {
  .secnavbar.sticky,.secnavbar{
    width: 90%;
 
  }
  .secnavbar ul li a{
    font-size: 12px;
  }


}