.reg{
   font-family: "Playfair Display", serif;
   overflow: hidden;
}
.logoreg{
    width: auto;
}
.container{
    width: 100%;
}

.reg input{
    font-size: 17px;
    font-weight: 200;
}
.check-gender{
    cursor: pointer;
}

.btnprimary{
   background-color:  #92dff0;
   color: white;
   font-weight: 900 !important;
   font-size: 20px;
}
.btnprimary:hover{
    background-color:#92dff090;
    color: white;
    font-weight: 900 !important;
 }